@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --dark-gray: #1a2a32;
  --gray: #2e4756;
  --turquoise: #3cc4bf;
  --yellow: #f2b147;
  --light-gray: #d3d3d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  border: none;
}

html,
body {
  height: 100%;
  background-color: var(--dark-gray);
}

/* grid container */
.grid {
  display: grid;
  grid-template-columns: repeat(
    3,
    80px
  ); /* Means each column will be 80px wide */
  grid-template-rows: 50px repeat(3, 80px) 60px; /* 1st row is 50px tall, then the next 3 rows will be 80px tall, and the final one will be 60px height*/
}
/* Some changes as he does can/will interfere on the HTML file, so we can go there and change it as we needed, like he does with the number of divs that's needed to make the css to look like the way we need it to be.*/

/* selecting each grid div  */
.grid div {
  /* No need of width and height anymore as the grid-template takes care of that now. */
  background-color: red;
  margin: 10px;
}
